* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --primary-color: #c23f28;
  --secondary-color: #2b3652;
  --tertiary-color: #7e6a3e;
  --font-color: #e2e4e6;
}
body {
  min-height: 100vh;
  font-family: "Francois One", sans-serif;
}
#app {
  display: flex;
  flex-direction: column;
}

#header,
#footer {
  background-color: var(--primary-color);
  color: var(--font-color);
}

.upperheader {
  padding: 1rem;
  font-size: 1.5rem;
  letter-spacing: 3px;
  height: 4.5rem;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--secondary-color);
}

.downheader {
  border-top: 8px solid var(--tertiary-color);
  padding: 0.5rem 6rem;
  height: 3rem;
}

#footer {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav > a {
  color: var(--font-color);
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 2px;
  font-size: 1rem;
}

.nav > a:hover {
  color: var(--secondary-color);
}

#main {
  display: flex;
  min-height: 100vh;
}

.products {
  padding: 1rem;
  width: 100%;
}
#no-products-message {
  font-size: 2rem;
  text-align: center;
  display: none;
}
.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  gap: 3rem;
}

.single-product {
  width: 200px;
  height: 300px;
  box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.single-product > h3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.single-product > h4 {
  font-size: 1.8rem;
  color: var(--primary-color);
}

.img-container {
  height: 200px;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  border-bottom: 3px solid var(--primary-color);
}

.img-container > .backImg,
.frontImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.backImg {
  display: none;
}

.single-product:hover h3 {
  cursor: pointer;
  font-size: 2rem;
  color: var(--tertiary-color);
}

.single-product:hover .backImg {
  display: block;
}
.single-product:hover .frontImg {
  display: none;
}

.filter {
  width: 18%;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  padding: 2rem;
  gap: 4rem;
  align-items: center;
  position: relative;
  font-size: 1rem;
}

.price-filter,
.brand-filter {
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.price-filter input,
.brand-filter select,
#price-button,
#clear {
  border-radius: 5px;
  padding: 0.2rem;
  border: 2px solid var(--primary-color);
  background: transparent;
  color: var(--font-color);
  outline: none;
  font-family: "Francois One", sans-serif;
  cursor: pointer;
  font-size: 1rem;
}

.brand-filter option {
  color: var(--secondary-color);
}

#price-button {
  background: var(--primary-color);
}

#clear {
  background: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
}

@media screen and (max-width: 415px) {
  .upperheader {
    font-size: 1rem;
    height: 3.5rem;
  }

  .downheader {
    border-top: 3px solid var(--tertiary-color);
    height: 2.5rem;
    padding: 0.5rem 2rem;
    border-bottom: 3px solid var(--tertiary-color);
  }

  #footer {
    padding: 0.5rem;
  }

  .nav > a {
    text-decoration: none;
  }

  #main {
    display: flex;
    flex-direction: column;
  }

  .products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }
  .single-product {
    width: 150px;
    height: 200px;
  }

  .single-product > h3,
  .single-product > h4 {
    font-size: 1rem;
  }

  .single-product:hover h3 {
    font-size: 1.3rem;
  }

  .img-container {
    height: 125px;
    padding-bottom: 1rem;
  }

  .filter {
    min-width: 100%;
    padding: 0.5rem;
    gap: 0.5rem;
    font-size: 0.8rem;
    border-bottom: 3px solid var(--tertiary-color);
  }

  .price-filter input,
  .brand-filter select,
  #price-button,
  #clear {
    padding: 0.2rem;
    font-size: 0.8rem;
  }
}
